{% extends "base.html" %} {% block title %}Admin | Create Category{% endblock %} {% block body %}

<h1>Create Category</h1>

{% if session == "" %}

<form action="" method="POST" id="createCategoryForm">
    <div class="form-group">
        <label for="categoryName">Name</label>
        <input type="text" class="form-control" id="categoryName" aria-describedby="categoryName" placeholder="Name" name="name">
        <small id="categoryName" class="form-text text-muted">The name of your category.</small>
    </div>
    <div class="form-group">
        <label for="categoryDescription">Description</label>
        <input type="text" class="form-control" id="categoryDescription" placeholder="Description" name="description">
        <small id="categoryDescription" class="form-text text-muted">The category description is displayed on the forum index by default.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    $(function () {

        $('#createCategoryForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '',
                data: $('#createCategoryForm').serialize(),
                success: function (data) {
                    const toast = swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 1000
                    })

                    toast({
                        type: data['type'],
                        title: data['title'] + " - " + data['text']
                    })
                }
            });
        });
    });
</script>
{% endif %} {% endblock %}