{% extends "base.html" %} {% block title %}Forum | {{forumInfo.title}}{% endblock %} {% block body %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="#">YourBB</a>
        </li>
        <li>
            <a href="#">Category</a>
        </li>
        <li>
            <a href="#">{{forumInfo.title}}</a>
        </li>
    </ul>
</nav>


<div class="card">

    <header class="card-header">

        <p class="card-header-title">
            Threads
        </p>

    </header>

    {% for thread in threads %}

    <div class="card-content block-{% if loop.index0 % 2 == 0 %}1{% else %}0{% endif %}">
        <div class="content">
            <a href="/thread/{{thread.ID}}/view">{{thread.title}}</a>
        </div>
    </div>
    {% endfor %}

</div>

{% if session != "" %}

<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            New Thread
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <form action="" method="POST" id="newThreadForm">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="A snazzy title" name="thread_title">
                    </p>
                </div>
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" id="editor" name="thread_content" type="text"></textarea>
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button type="submit" class="button is-success">
                            Post
                        </button>
                    </p>
                </div>
                <input type="hidden" name="forum_id" value="{{forumInfo.ID}}">

            </form>
        </div>
    </div>
</div>


<script>

    $(function () {

        $('#newThreadForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '/thread/add-new',
                data: $('#newThreadForm').serialize(),
                success: function (data) {
                    const toast = swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 1000
                    })

                    toast({
                        type: data['type'],
                        title: data['title'] + " - " + data['text']
                    })
                }
            });
        });
    });
</script>
{% endif %} {% endblock %}