{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}


<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="#">YourBB</a>
        </li>
        <li>
            <a href="#">Category</a>
        </li>
        <li>
            <a href="#">Forum</a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">thread</a>
        </li>
    </ul>
</nav>

{% for row in categories %}
<div class="card">

    <header class="card-header">

        <p class="card-header-title">
            {{row.name}}
        </p>

    </header>

    {% for forum in forums[row.ID] %}

    <div class="card-content block-{% if loop.index0 % 2 == 0 %}1{% else %}0{% endif %}">
        <div class="content">
            <a href="/forum/{{forum.ID}}/view">{{forum.title}}</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endfor %} {% endblock %}