{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<h1>Welcome</h1>

{{session}} 
{% for row in categories %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{row.name}}</h5>
        <p class="card-text">{{row.description}}</p>
    </div>
    {% for forum in forums[row.ID] %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{forum.title}}</h5>
            <p class="card-text">{{forum.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %} 
{% endblock %}