.block-1{
    background: #fbfbfb;
}

.card {
    margin-bottom: 1.5rem;
}

nav.breadcrumb {
    margin-top: 1.5rem;
}

p.card-header-subtitle {
    align-items: center;
    display: flex;
    flex-grow: 80;
    padding: .75rem;
}

.container {
    padding: 15px;
}