<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.3/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar is-info">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                YourBB
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="https://bulma.io/">
                    Home
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {{user}}
                            </a>
                            <div class="navbar-dropdown is-boxed is-right">
                                {% if session == "" %}
                                <a class="navbar-item" href="/user/log-in">
                                    Login
                                </a>
                                <a class="navbar-item" href="/user/register">
                                    Register
                                </a>
                                {% else %}
                                <form action="/user/log-out" method="POST" id="logoutForm">
                                    <button type="submit" class="dropdown-item" style="background: none; border: none; color: #007bff; cursor: pointer;">Logout</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.19.3/sweetalert2.min.js"></script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="/assets/js/tinymce/tinymce.min.js"></script>

        {% block body %} {% endblock %}

        <br>
        <div id="renderTime"></div>
        <div id="phpcreationtime">PHP Render Time {{rendertime}}s</div>
    </div>

    <script>tinymce.init({ selector:'textarea' });</script>

    <script>
        $(function () {
            $('#logoutForm').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'post',
                    url: '/user/log-out',
                    data: $('#logoutForm').serialize(),
                    success: function (data) {
                        const toast = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 1000
                        })

                        toast({
                            type: data['type'],
                            title: data['title'] + " - " + data['text']
                        }).then((result) => {
                            if (data['type'] == 'success') {
                                window.location.replace("/");
                            }
                        })
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {

            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {

                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
    <script type="text/javascript">
        var start_time = +new Date();
        window.onload = function () {
            document.getElementById('renderTime').innerHTML = "HTML Render Time: " + ((+new Date() - start_time) /
                1000) + "s"
        };
    </script>
</body>

</html>